certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
idna==2.8
keyboard==0.13.4
kiwisolver==1.1.0
Lackey==0.7.3
mouse==0.7.0
numpy==1.18.0
opencv-python==4.1.2.30
Pillow==6.2.1
pyparsing==2.4.6
pyperclip==1.7.0
pytesseract==0.3.1
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
urllib3==1.25.7
vdf